@font-face {
    font-family: "Gora Free";
    src: url(../../fonts/gora-free-webfont.woff);
    src: url(../../fonts/gora-free-webfont.woff2);
}
@font-face {
    font-family: "Open Sans";
    src: url(../../fonts/opensans-bold-webfont.woff);
    src: url(../../fonts/opensans-bold-webfont.woff2);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url(../../fonts/opensans-extrabold-webfont.woff);
    src: url(../../fonts/opensans-extrabold-webfont.woff2);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url(../../fonts/opensans-light-webfont.woff);
    src: url(../../fonts/opensans-light-webfont.woff2);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url(../../fonts/opensans-lightitalic-webfont.woff);
    src: url(../../fonts/opensans-lightitalic-webfont.woff2);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url(../../fonts/roboto-regular-webfont.woff);
    src: url(../../fonts/roboto-regular-webfont.woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url(../../fonts/roboto-light-webfont.woff);
    src: url(../../fonts/roboto-light-webfont.woff2);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url(../../fonts/roboto-bold-webfont.woff);
    src: url(../../fonts/roboto-bold-webfont.woff2);
    font-weight: 700;
    font-style: normal;
}
