.amenities {
    height: 100%;
}
.features_h2-left{
    text-align: left;
}
.amenities-list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.amenities-list__section {
    display: inline-block;
    list-style: none;
    min-height: 500px;
    width: 255px;
    margin-right: 56px;
}
.amenities-list__img {
    position: relative;
}
.amenities-list__background,
.amenities-list__img {
    width: 250px;
    height: 153px;
    margin: 0 auto;
}
.extreme {
    margin-right: 0;
}
.amenities-list__background {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 0 auto;
    filter: brightness(40%);
    border-radius: 3px;
    transition: .5s;
}
.amenities-list__img:hover .amenities-list__background {
    filter: none;
}
.amenities-list__img-text{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 0.72px;
    text-align: center;
    position: absolute;
    top: 37%;
    left: 13%;
    min-width: 70%;
    transition: .5s;
}
.amenities-list__img:hover .amenities-list__img-text{
    opacity: 0;
}
.amenities-list__img{
    width: 250px;
    height: 153px;
}
.amenities-list__header {
    display: block;
    padding-top: 27px;
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
}
.amenities-list__info {
    padding-top: 7px;
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 21.02px;
}