.features_h2-position {
    padding-top: 28px;
    margin-bottom: 50px;
}
.amenities {
}
.insert {
    background-color: #131415;
    background-image: url(../../img/comments/pattern.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.insert-text {
    width: 222px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 31px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.insert-text_orange {
    color: #f89513;
    font-family: "Open Sans";
    font-weight: 700;
}
.sidebar_comments {
    padding-top: 60px;
}
.comments__block {
    width: 642px;
    color: #221f1f;
}
.comments {
    padding-right: 29px;
}
.comments__date {
    color: #656464;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}
.comments__topic {
    display: block;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-top: 7px;
    margin-bottom: 10px;
}
.comments__info {
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 30px;
}
.feeds__img {
    background-image: url(../../img/comments/default-avatar.png);
    background-repeat: no-repeat;
    background-position: center center;
}