.footer {
    min-height: 77px;
    background-color: #131415;
}
.footer_position {

}
.rights {
    color: #ffffff;
    width: 243px;
}
.rights__content {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    font-family: "Open Sans";
    font-weight: 300;
}
.rights__link-school {
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
    text-decoration: underline;
}
.rights__link {
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
    text-decoration: none;
}
.social-networks {
    padding-top: 30px;
    width: 175px;
    margin: 0 auto;
}
.socials {
    margin: 0 auto;
    width: 140px;
}
.social-networks__header {
    display: block;
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
    white-space: normal;
}
.socials__item {
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-radius: 11px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}
.socials__item:hover,
.socials__item:focus {
    outline: none;
    background-color: #f89513;
}
.socials__link-vk{
    background-image: url(../../img/socials/vk.png);
}
.socials__link-fb {
    background-image: url(../../img/socials/fb.png);
}
.socials__link-google {
    background-image: url(../../img/socials/google.png);
}
.socials__link-twitter {
    background-image: url(../../img/socials/twitter.png);
}
.socials__link-mail {
    background-image: url(../../img/socials/mail.png);
}