.news {
    padding-top: 69px; 
    height: 100%;
}
.news-h2-location {
    padding-bottom: 70px;
}
.news__block {
    display: flex;
}
.feeds {
    width: 874px;
}
/*---ОСНОВНЫЕ БЛОКИ НОВОСТЕЙ---*/
.feeds__item {
    min-height: 160px;
    margin-left: 20px;
    margin-right: 27px;
    margin-bottom: 62px; 
    display: flex;  
}
.feeds__img {
    width: 160px;
    height: 160px;
    margin-right: 20px;
}
/*---ТЕКСТ НОВОСТЕЙ---*/
.feeds__block {
    width: 694px;
}
.feeds__date {
    color: #656464;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
}
.feeds__topic {
    display: block;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 10px;
}
.feeds__info {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
/*---НОВОСТИ ASIDE---*/
.top-news {
    width: 161px;
}
.top-news__h2{
    color: #221f1f;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}
.top-news__month {
    display: block;
    color: #656464;
    margin-bottom: 24px;
}
.top-news__block {
    display: block;
    margin-bottom: 20px;
}
/*---НАВИГАЦИЯ ПО СТРАНИЦА НОВОСТЕЙ---*/
.page-navigation {
    width: 342px;
    margin: 0 auto;
    margin-bottom: 67px;
    display: flex;  
    align-items: center;
}  
.page-navigation__pages {
    color: #656464;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
}
.page-navigation__menu {
    padding-left: 20px;
    display: flex;
    align-items: center;
}
/*---ЦИФРЫ---*/
.page-navigation__number{
    list-style: none;
    display: inline-block;
}
.news-page {
    text-decoration: none;
    display: block;
    width: 25px;
    height: 25px;
    color: #221f1f;
}
.news-page_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-page__number {
    font-size: 14px;
    font-weight: 700;
}
.news-page_active {
    background-color: #27273e;
    border-radius: 5px;
    color: #ffffff;
}
.news-page:hover,
.news-page:focus {
    outline: none;
    color: #f89513;
}
/*---СТРЕЛКИ---*/
.right-arrow {
    list-style: none;
    width: 6px;
    height: 25px;
    margin-right: 15px;
}
.left-arrow {
    list-style: none;
    width: 6px;
    height: 25px;
    margin-left: 15px;
}
.backward-page{
    display: inline-block;
    width: 6px;
    height: 25px;
    background-image: url(../../img/arrow/backward-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.backward-page:hover,
.backward-page:focus {
    outline: none;
    background-image: url(../../img/arrow/backward-arrow_active.png);
}
.next-page{
    display: inline-block;
    width: 6px;
    height: 25px;
    background-image: url(../../img/arrow/next-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.next-page:hover,
.next-page:focus {
    outline: none;
    background-image: url(../../img/arrow/next-arrow_active.png);
}
.news-page__number {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
}