.partners {
    height: 100%;
    padding-top: 63px;
}
.partners-list {
    height: 100%;
    padding-top: 67px;
    margin-bottom: 23px;
    display: flex;
    flex-wrap: wrap;
}
.our-partner {
    list-style-type: none;
    margin-left: 105px;
    margin-bottom: 20px;
    display: inline-block;
    width: 160px;
    height: 80px;
    text-align: center;
}
.partner-site {
    display: flex;
    align-items: center;
    height: 100%;
}
.partner-site__logo{
    vertical-align: middle;
    filter: grayscale(100%);
    transition: 1.5s;
}
.partner-site__logo:hover,
.partner-site__logo:focus {
    filter: none;
}